merge_sort/.vscode/*
.vscode/*
merge_sort/build/*

merge_sort/bin/*
!merge_sort/bin/.gitkeep

merge_sort/output/*
!merge_sort/output/.gitkeep


merge_sort_refactor/.vscode/*
merge_sort_refactor/build/*

merge_sort_refactor/bin/*
!merge_sort_refactor/bin/.gitkeep

merge_sort_refactor/output/*
!merge_sort_refactor/output/.gitkeep
