merge_sort/.vscode/*
.vscode/*
merge_sort/build/*

merge_sort/bin/*
!merge_sort/bin/.gitkeep

merge_sort/output/*
!merge_sort/output/.gitkeep


merge_sort/.idea
merge_sort/venv

merge_sort/docs/Formated data
sequential_file/.idea/*
sequential_file/__pycache__/*
sequential_file/src/__pycache__/*
sequential_file/venv/
